In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import json

In [3]:
summoner_name = "쪼렙이다말로하자"

match = pd.read_json("data/data_summoner_match_data_{name}.json".format(name=summoner_name))
timeline = pd.read_json("data/data_summoner_match_timeline_data_{name}.json".format(name=summoner_name))
with open("data/data_summoner_{}.json".format(summoner_name), 'r') as f:
    summoner = json.load(f)

# 경기 관련 데이터

In [4]:
match_length = len(match["info"])
match_length

793

In [5]:
info = match["info"]

participants = []
teams = []
for i in range(match_length):
    participants.append(info[i]["participants"])
    teams.append(info[i]["teams"])
    del(info[i]["participants"])
    del(info[i]["teams"])

In [6]:
df_info = pd.json_normalize(info)
df_info_1 = df_info[["gameDuration", "gameMode", "gameType", "gameVersion", "mapId"]].copy()    # 원본데이터는 유지
display(df_info_1.head(10))

   gameDuration gameMode      gameType     gameVersion  mapId
0       1865764  CLASSIC  MATCHED_GAME  11.19.398.9466     11
1       1261439  CLASSIC  MATCHED_GAME  11.19.398.9466     11
2       1583363  CLASSIC  MATCHED_GAME  11.19.398.9466     11
3       2304330  CLASSIC  MATCHED_GAME  11.19.398.9466     11
4        939701  CLASSIC  MATCHED_GAME  11.19.398.9466     11
5       1471143  CLASSIC  MATCHED_GAME  11.19.398.9466     11
6       1945596  CLASSIC  MATCHED_GAME  11.19.398.9466     11
7       1038762  CLASSIC  MATCHED_GAME  11.19.398.9466     11
8       1371736  CLASSIC  MATCHED_GAME  11.19.398.9466     11
9       1542991  CLASSIC  MATCHED_GAME  11.19.398.9466     11

In [7]:
df_participants = pd.json_normalize(participants)
display(df_participants.head(1))

,0,1,2,3,4,5,6,7,8,9
0,"{'assists': 5, 'baronKills': 0, 'bountyLevel':...","{'assists': 10, 'baronKills': 0, 'bountyLevel'...","{'assists': 7, 'baronKills': 0, 'bountyLevel':...","{'assists': 8, 'baronKills': 0, 'bountyLevel':...","{'assists': 10, 'baronKills': 0, 'bountyLevel'...","{'assists': 13, 'baronKills': 0, 'bountyLevel'...","{'assists': 14, 'baronKills': 2, 'bountyLevel'...","{'assists': 7, 'baronKills': 0, 'bountyLevel':...","{'assists': 7, 'baronKills': 0, 'bountyLevel':...","{'assists': 20, 'baronKills': 0, 'bountyLevel'..."

In [8]:
# 표본의 게임 속 index 구하기
summoner_index = df_participants.apply(lambda row: np.where(row.map(lambda col: col["puuid"] == summoner["puuid"]))[0][0], axis=1)
# 표본의 게임 속 teamId 구하기
summoner_team = ["100" if summoner_index[x]<5 else "200" for x in range(match_length)]
# info_1 데이터프레임에 저장
df_info_1["index"] = summoner_index
df_info_1["team"] = summoner_team
display(df_info_1.head(10))

   gameDuration gameMode      gameType     gameVersion  mapId  index team
0       1865764  CLASSIC  MATCHED_GAME  11.19.398.9466     11      9  200
1       1261439  CLASSIC  MATCHED_GAME  11.19.398.9466     11      9  200
2       1583363  CLASSIC  MATCHED_GAME  11.19.398.9466     11      4  100
3       2304330  CLASSIC  MATCHED_GAME  11.19.398.9466     11      2  100
4        939701  CLASSIC  MATCHED_GAME  11.19.398.9466     11      7  200
5       1471143  CLASSIC  MATCHED_GAME  11.19.398.9466     11      2  100
6       1945596  CLASSIC  MATCHED_GAME  11.19.398.9466     11      4  100
7       1038762  CLASSIC  MATCHED_GAME  11.19.398.9466     11      7  200
8       1371736  CLASSIC  MATCHED_GAME  11.19.398.9466     11      2  100
9       1542991  CLASSIC  MATCHED_GAME  11.19.398.9466     11      9  200

In [9]:
df_teams = pd.json_normalize(teams)
df_teams.columns = ["100", "200"]   # teamId
display(df_teams.head(5))

,100,200
0,"{'bans': [{'championId': 412, 'pickTurn': 1}, ...","{'bans': [{'championId': 412, 'pickTurn': 6}, ..."
1,"{'bans': [{'championId': 76, 'pickTurn': 1}, {...","{'bans': [{'championId': 55, 'pickTurn': 6}, {..."
2,"{'bans': [{'championId': 114, 'pickTurn': 1}, ...","{'bans': [{'championId': 104, 'pickTurn': 6}, ..."
3,"{'bans': [{'championId': -1, 'pickTurn': 1}, {...","{'bans': [{'championId': 7, 'pickTurn': 6}, {'..."
4,"{'bans': [{'championId': 91, 'pickTurn': 1}, {...","{'bans': [{'championId': -1, 'pickTurn': 6}, {..."

In [10]:
# 이긴 팀의 teamId 구하기
teams_win = df_teams.apply(lambda row: "100" if row.map(lambda col: col["win"])[0] else "200", axis=1)
df_teams_1 = df_teams.copy()
df_teams_1["win"] = teams_win

## 데이터 저장

In [11]:
df_info_1.to_csv("data/{}/info.csv".format(summoner_name), index=False)
df_participants.to_json("data/{}/participants.json".format(summoner_name))
df_teams_1.to_json("data/{}/teams.json".format(summoner_name))

# 인베이드 관련 데이터

In [12]:
match_invade = 0

## 이벤트 분석

In [13]:
12200 // 4000

3

In [25]:
is_invade = [False]*match_length
invade_timestamp = [0]*match_length           
invade_position = np.array([0 for _ in range(64)]).reshape(8,8)
invade_kill_blue = [0]*match_length           # invade시 발생한 블루팀의 킬 수
invade_kill_red = [0]*match_length            # invade시 발생한 레드팀의 킬 수
invade_win_team = [0]*match_length            # invade가 발생한 게임에서 이긴 팀의 teamId
total_gold_blue_3_min = [0]*match_length
total_gold_red_3_min = [0]*match_length
gold_gap = [0]*match_length
killer = [0]*match_length

for match_index in range(match_length):
    match_time_length = len(timeline.iloc[match_index].info['frames'])
    
    events = [timeline.iloc[match_index].info["frames"][t]["events"] for t in range(match_time_length)]
    participants_info = [timeline.iloc[match_index].info["frames"][t]["participantFrames"] for t in range(match_time_length)]

    # 1~2분대의 kill event
    if len(events) < 3: 
        print("다시하기 발생!")
        continue    # 게임이 3분 이내로 끝났을 경우를 제외 
    for t in range(1,3):  # 1 ~ 2 분 사이
        killers = []
        for e in events[t]:    
            if e["type"] == "CHAMPION_KILL":
                # print(e)
                if is_invade[match_index] == False: 
                    is_invade[match_index] = True
                    match_invade += 1
                if invade_timestamp[match_index] == 0: invade_timestamp[match_index] = e['timestamp']
                if e['killerId'] <= 5:
                    invade_kill_blue[match_index] += 1
                elif e['killerId'] > 5:
                    invade_kill_red[match_index] += 1
                p_x, p_y = e['position']['x'], e['position']['y']
                invade_position[(16000-p_y)//2000][p_x//2000] += 1
                killers.append(e['killerId'])
    if is_invade[match_index]:
        killer[match_index] = killers
        for i in range(1,6):
            total_gold_blue_3_min[match_index] += participants_info[3][str(i)]['totalGold']
        for i in range(6,11):
            total_gold_red_3_min[match_index] += participants_info[3][str(i)]['totalGold']
        gold_gap[match_index] = total_gold_blue_3_min[match_index] - total_gold_red_3_min[match_index]
        
        # use df_teams
        invade_win_team[match_index] = 100 if df_teams["100"][match_index]["win"] else 200
        
        print("--------------------------------------------------")
        print("invade detected: %d" % match_index)
        print("timestamp(minutes): %.2f" % (invade_timestamp[match_index]/60000))
        print("< kills >\n  blue : %d , red : %d"% (invade_kill_blue[match_index], invade_kill_red[match_index]))
        print("< total_gold_3_min >\n  blue: %d , red: %d"% (total_gold_blue_3_min[match_index], total_gold_red_3_min[match_index]))
        print("< gold_gap >\n  %d"% gold_gap[match_index])
        print("< win >\n  %s"% ("blue" if invade_win_team[match_index] == 100 else "red"))

--------------------------------------------------
invade detected: 2
timestamp(minutes): 1.89
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4216 , red: 5094
< gold_gap >
  -878
< win >
  red
--------------------------------------------------
invade detected: 11
timestamp(minutes): 1.87
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4419 , red: 5324
< gold_gap >
  -905
< win >
  blue
--------------------------------------------------
invade detected: 16
timestamp(minutes): 1.59
< kills >
  blue : 3 , red : 0
< total_gold_3_min >
  blue: 5579 , red: 4008
< gold_gap >
  1571
< win >
  blue
--------------------------------------------------
invade detected: 17
timestamp(minutes): 1.75
< kills >
  blue : 2 , red : 1
< total_gold_3_min >
  blue: 5063 , red: 4624
< gold_gap >
  439
< win >
  blue
--------------------------------------------------
invade detected: 21
timestamp(minutes): 1.56
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4798 , red: 4289
< gold_gap >
  509
< win >
  blue
--------------------------------------------------
invade detected: 25
timestamp(minutes): 1.10
< kills >
  blue : 2 , red : 0
< total_gold_3_min >
  blue: 5910 , red: 4207
< gold_gap >
  1703
< win >
  blue
--------------------------------------------------
invade detected: 27
timestamp(minutes): 1.48
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 3825 , red: 5445
< gold_gap >
  -1620
< win >
  red
--------------------------------------------------
invade detected: 30
timestamp(minutes): 0.77
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4948 , red: 4503
< gold_gap >
  445
< win >
  red
--------------------------------------------------
invade detected: 31
timestamp(minutes): 1.04
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 5053 , red: 5465
< gold_gap >
  -412
< win >
  red
--------------------------------------------------
invade detected: 34
timestamp(minutes): 1.15
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 4723 , red: 5108
< gold_gap >
  -385
< win >
  red
--------------------------------------------------
invade detected: 35
timestamp(minutes): 1.72
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4908 , red: 4408
< gold_gap >
  500
< win >
  blue
--------------------------------------------------
invade detected: 38
timestamp(minutes): 1.60
< kills >
  blue : 1 , red : 1
< total_gold_3_min >
  blue: 5081 , red: 4535
< gold_gap >
  546
< win >
  blue
--------------------------------------------------
invade detected: 44
timestamp(minutes): 1.02
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4858 , red: 4474
< gold_gap >
  384
< win >
  red
--------------------------------------------------
invade detected: 51
timestamp(minutes): 1.65
< kills >
  blue : 2 , red : 0
< total_gold_3_min >
  blue: 5600 , red: 4562
< gold_gap >
  1038
< win >
  blue
--------------------------------------------------
invade detected: 52
timestamp(minutes): 1.69
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 5365 , red: 3741
< gold_gap >
  1624
< win >
  blue
--------------------------------------------------
invade detected: 55
timestamp(minutes): 1.87
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4496 , red: 3976
< gold_gap >
  520
< win >
  blue
--------------------------------------------------
invade detected: 56
timestamp(minutes): 0.91
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 5442 , red: 4641
< gold_gap >
  801
< win >
  blue
--------------------------------------------------
invade detected: 60
timestamp(minutes): 1.90
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4769 , red: 5305
< gold_gap >
  -536
< win >
  red
--------------------------------------------------
invade detected: 63
timestamp(minutes): 1.11
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4551 , red: 5887
< gold_gap >
  -1336
< win >
  red
--------------------------------------------------
invade detected: 66
timestamp(minutes): 0.82
< kills >
  blue : 3 , red : 0
< total_gold_3_min >
  blue: 5376 , red: 4169
< gold_gap >
  1207
< win >
  red
--------------------------------------------------
invade detected: 68
timestamp(minutes): 0.97
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4473 , red: 6462
< gold_gap >
  -1989
< win >
  red
--------------------------------------------------
invade detected: 69
timestamp(minutes): 0.86
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 4454 , red: 5031
< gold_gap >
  -577
< win >
  red
--------------------------------------------------
invade detected: 76
timestamp(minutes): 1.15
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4552 , red: 4542
< gold_gap >
  10
< win >
  blue
--------------------------------------------------
invade detected: 77
timestamp(minutes): 1.91
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4431 , red: 4941
< gold_gap >
  -510
< win >
  blue
--------------------------------------------------
invade detected: 80
timestamp(minutes): 1.37
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4254 , red: 5047
< gold_gap >
  -793
< win >
  blue
--------------------------------------------------
invade detected: 93
timestamp(minutes): 1.90
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 5004 , red: 4264
< gold_gap >
  740
< win >
  blue
--------------------------------------------------
invade detected: 96
timestamp(minutes): 1.25
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 4360 , red: 5353
< gold_gap >
  -993
< win >
  red
--------------------------------------------------
invade detected: 99
timestamp(minutes): 0.66
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4740 , red: 3857
< gold_gap >
  883
< win >
  blue
--------------------------------------------------
invade detected: 105
timestamp(minutes): 1.98
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4020 , red: 4630
< gold_gap >
  -610
< win >
  blue
--------------------------------------------------
invade detected: 109
timestamp(minutes): 0.78
< kills >
  blue : 1 , red : 1
< total_gold_3_min >
  blue: 4777 , red: 4978
< gold_gap >
  -201
< win >
  red
--------------------------------------------------
invade detected: 113
timestamp(minutes): 0.88
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4181 , red: 5352
< gold_gap >
  -1171
< win >
  red
--------------------------------------------------
invade detected: 115
timestamp(minutes): 0.86
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 5340 , red: 4609
< gold_gap >
  731
< win >
  red
--------------------------------------------------
invade detected: 119
timestamp(minutes): 0.87
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4485 , red: 4789
< gold_gap >
  -304
< win >
  red
--------------------------------------------------
invade detected: 129
timestamp(minutes): 0.66
< kills >
  blue : 1 , red : 2
< total_gold_3_min >
  blue: 4701 , red: 5786
< gold_gap >
  -1085
< win >
  red
--------------------------------------------------
invade detected: 130
timestamp(minutes): 0.73
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 4318 , red: 6143
< gold_gap >
  -1825
< win >
  blue
--------------------------------------------------
invade detected: 133
timestamp(minutes): 1.68
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 5360 , red: 4129
< gold_gap >
  1231
< win >
  blue
--------------------------------------------------
invade detected: 134
timestamp(minutes): 1.44
< kills >
  blue : 1 , red : 1
< total_gold_3_min >
  blue: 4724 , red: 4723
< gold_gap >
  1
< win >
  blue
--------------------------------------------------
invade detected: 144
timestamp(minutes): 1.39
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4465 , red: 5414
< gold_gap >
  -949
< win >
  red
--------------------------------------------------
invade detected: 150
timestamp(minutes): 0.85
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4974 , red: 4524
< gold_gap >
  450
< win >
  blue
--------------------------------------------------
invade detected: 153
timestamp(minutes): 1.21
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4032 , red: 5298
< gold_gap >
  -1266
< win >
  red
--------------------------------------------------
invade detected: 156
timestamp(minutes): 0.68
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4294 , red: 5117
< gold_gap >
  -823
< win >
  red
--------------------------------------------------
invade detected: 183
timestamp(minutes): 1.88
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4712 , red: 5022
< gold_gap >
  -310
< win >
  blue
--------------------------------------------------
invade detected: 184
timestamp(minutes): 0.84
< kills >
  blue : 1 , red : 2
< total_gold_3_min >
  blue: 4011 , red: 6152
< gold_gap >
  -2141
< win >
  red
--------------------------------------------------
invade detected: 191
timestamp(minutes): 0.64
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4812 , red: 4115
< gold_gap >
  697
< win >
  blue
--------------------------------------------------
invade detected: 192
timestamp(minutes): 1.86
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4726 , red: 5136
< gold_gap >
  -410
< win >
  red
--------------------------------------------------
invade detected: 200
timestamp(minutes): 1.80
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 3920 , red: 5602
< gold_gap >
  -1682
< win >
  red
--------------------------------------------------
invade detected: 202
timestamp(minutes): 0.96
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4532 , red: 5110
< gold_gap >
  -578
< win >
  red
--------------------------------------------------
invade detected: 211
timestamp(minutes): 0.79
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 5071 , red: 4385
< gold_gap >
  686
< win >
  red
--------------------------------------------------
invade detected: 214
timestamp(minutes): 1.08
< kills >
  blue : 0 , red : 3
< total_gold_3_min >
  blue: 4414 , red: 5485
< gold_gap >
  -1071
< win >
  red
--------------------------------------------------
invade detected: 218
timestamp(minutes): 2.00
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 6114 , red: 4818
< gold_gap >
  1296
< win >
  red
--------------------------------------------------
invade detected: 228
timestamp(minutes): 1.05
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 5495 , red: 4202
< gold_gap >
  1293
< win >
  blue
--------------------------------------------------
invade detected: 229
timestamp(minutes): 0.79
< kills >
  blue : 2 , red : 1
< total_gold_3_min >
  blue: 5292 , red: 5013
< gold_gap >
  279
< win >
  blue
--------------------------------------------------
invade detected: 230
timestamp(minutes): 0.98
< kills >
  blue : 1 , red : 2
< total_gold_3_min >
  blue: 4888 , red: 5293
< gold_gap >
  -405
< win >
  blue
--------------------------------------------------
invade detected: 231
timestamp(minutes): 1.02
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 5125 , red: 4374
< gold_gap >
  751
< win >
  blue
--------------------------------------------------
invade detected: 235
timestamp(minutes): 1.98
< kills >
  blue : 1 , red : 1
< total_gold_3_min >
  blue: 4689 , red: 4646
< gold_gap >
  43
< win >
  blue
--------------------------------------------------
invade detected: 236
timestamp(minutes): 1.78
< kills >
  blue : 2 , red : 1
< total_gold_3_min >
  blue: 4836 , red: 4518
< gold_gap >
  318
< win >
  red
--------------------------------------------------
invade detected: 248
timestamp(minutes): 1.19
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 5768 , red: 4975
< gold_gap >
  793
< win >
  red
--------------------------------------------------
invade detected: 249
timestamp(minutes): 0.90
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4048 , red: 5133
< gold_gap >
  -1085
< win >
  red
--------------------------------------------------
invade detected: 255
timestamp(minutes): 0.94
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 5049 , red: 4351
< gold_gap >
  698
< win >
  blue
--------------------------------------------------
invade detected: 274
timestamp(minutes): 1.97
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4270 , red: 4953
< gold_gap >
  -683
< win >
  red
--------------------------------------------------
invade detected: 282
timestamp(minutes): 0.90
< kills >
  blue : 1 , red : 1
< total_gold_3_min >
  blue: 4566 , red: 4990
< gold_gap >
  -424
< win >
  blue
--------------------------------------------------
invade detected: 293
timestamp(minutes): 1.95
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4857 , red: 4233
< gold_gap >
  624
< win >
  blue
--------------------------------------------------
invade detected: 296
timestamp(minutes): 1.01
< kills >
  blue : 1 , red : 2
< total_gold_3_min >
  blue: 4988 , red: 5758
< gold_gap >
  -770
< win >
  red
--------------------------------------------------
invade detected: 300
timestamp(minutes): 0.74
< kills >
  blue : 2 , red : 3
< total_gold_3_min >
  blue: 6244 , red: 5458
< gold_gap >
  786
< win >
  red
--------------------------------------------------
invade detected: 303
timestamp(minutes): 0.88
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4706 , red: 5242
< gold_gap >
  -536
< win >
  blue
--------------------------------------------------
invade detected: 315
timestamp(minutes): 1.67
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4771 , red: 4747
< gold_gap >
  24
< win >
  red
--------------------------------------------------
invade detected: 321
timestamp(minutes): 0.80
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 3995 , red: 5291
< gold_gap >
  -1296
< win >
  red
--------------------------------------------------
invade detected: 324
timestamp(minutes): 1.12
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4770 , red: 4968
< gold_gap >
  -198
< win >
  red
--------------------------------------------------
invade detected: 326
timestamp(minutes): 0.86
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4853 , red: 4994
< gold_gap >
  -141
< win >
  red
--------------------------------------------------
invade detected: 327
timestamp(minutes): 0.79
< kills >
  blue : 1 , red : 2
< total_gold_3_min >
  blue: 4856 , red: 5564
< gold_gap >
  -708
< win >
  red
--------------------------------------------------
invade detected: 334
timestamp(minutes): 0.72
< kills >
  blue : 2 , red : 3
< total_gold_3_min >
  blue: 5087 , red: 5677
< gold_gap >
  -590
< win >
  blue
--------------------------------------------------
invade detected: 335
timestamp(minutes): 0.72
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 5042 , red: 4398
< gold_gap >
  644
< win >
  blue
--------------------------------------------------
invade detected: 339
timestamp(minutes): 1.71
< kills >
  blue : 1 , red : 1
< total_gold_3_min >
  blue: 4590 , red: 4785
< gold_gap >
  -195
< win >
  blue
--------------------------------------------------
invade detected: 341
timestamp(minutes): 0.68
< kills >
  blue : 2 , red : 0
< total_gold_3_min >
  blue: 5219 , red: 4623
< gold_gap >
  596
< win >
  blue
--------------------------------------------------
invade detected: 347
timestamp(minutes): 1.89
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4991 , red: 4618
< gold_gap >
  373
< win >
  blue
--------------------------------------------------
invade detected: 348
timestamp(minutes): 0.96
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4400 , red: 5438
< gold_gap >
  -1038
< win >
  red
--------------------------------------------------
invade detected: 353
timestamp(minutes): 1.39
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4739 , red: 4695
< gold_gap >
  44
< win >
  blue
--------------------------------------------------
invade detected: 355
timestamp(minutes): 1.93
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4816 , red: 4549
< gold_gap >
  267
< win >
  blue
--------------------------------------------------
invade detected: 358
timestamp(minutes): 0.76
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4489 , red: 4988
< gold_gap >
  -499
< win >
  red
--------------------------------------------------
invade detected: 369
timestamp(minutes): 1.83
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 5441 , red: 4348
< gold_gap >
  1093
< win >
  blue
--------------------------------------------------
invade detected: 375
timestamp(minutes): 1.16
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4437 , red: 5072
< gold_gap >
  -635
< win >
  red
--------------------------------------------------
invade detected: 376
timestamp(minutes): 1.05
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4393 , red: 5048
< gold_gap >
  -655
< win >
  red
--------------------------------------------------
invade detected: 377
timestamp(minutes): 1.41
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 5024 , red: 4843
< gold_gap >
  181
< win >
  blue
--------------------------------------------------
invade detected: 379
timestamp(minutes): 1.90
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 4172 , red: 5702
< gold_gap >
  -1530
< win >
  red
--------------------------------------------------
invade detected: 381
timestamp(minutes): 0.71
< kills >
  blue : 2 , red : 1
< total_gold_3_min >
  blue: 6457 , red: 4886
< gold_gap >
  1571
< win >
  blue
--------------------------------------------------
invade detected: 384
timestamp(minutes): 1.86
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4742 , red: 4408
< gold_gap >
  334
< win >
  blue
--------------------------------------------------
invade detected: 386
timestamp(minutes): 0.73
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4451 , red: 5333
< gold_gap >
  -882
< win >
  red
--------------------------------------------------
invade detected: 390
timestamp(minutes): 0.73
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4157 , red: 5289
< gold_gap >
  -1132
< win >
  red
--------------------------------------------------
invade detected: 391
timestamp(minutes): 0.99
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 3950 , red: 5329
< gold_gap >
  -1379
< win >
  red
--------------------------------------------------
invade detected: 393
timestamp(minutes): 0.72
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4581 , red: 5211
< gold_gap >
  -630
< win >
  red
--------------------------------------------------
invade detected: 402
timestamp(minutes): 0.76
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4170 , red: 4955
< gold_gap >
  -785
< win >
  red
--------------------------------------------------
invade detected: 404
timestamp(minutes): 1.41
< kills >
  blue : 2 , red : 0
< total_gold_3_min >
  blue: 5337 , red: 4300
< gold_gap >
  1037
< win >
  blue
--------------------------------------------------
invade detected: 408
timestamp(minutes): 1.17
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4339 , red: 5125
< gold_gap >
  -786
< win >
  red
--------------------------------------------------
invade detected: 409
timestamp(minutes): 1.57
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 5107 , red: 4378
< gold_gap >
  729
< win >
  red
--------------------------------------------------
invade detected: 411
timestamp(minutes): 0.91
< kills >
  blue : 0 , red : 3
< total_gold_3_min >
  blue: 4544 , red: 5569
< gold_gap >
  -1025
< win >
  red
--------------------------------------------------
invade detected: 417
timestamp(minutes): 1.98
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 5526 , red: 4327
< gold_gap >
  1199
< win >
  blue

In [16]:
df_invade_position = pd.DataFrame(invade_position)
df_invade_position

   0   1  2   3   4   5   6  7
0  0   0  1   0   0   0   0  0
1  4  10  6   2   0   0   0  0
2  7   6  2   4   2   0   0  0
3  0   7  9  10   7   4   1  0
4  0   0  6  24   8  13   6  0
5  0   0  7  22   9  19  10  2
6  0   0  0  10  15  13  30  0
7  0   0  0   4   3  21  10  0

In [26]:
df_invade = pd.DataFrame([
    is_invade,
    invade_timestamp,
    invade_kill_blue,
    invade_kill_red,
    invade_win_team,
    total_gold_blue_3_min,
    total_gold_red_3_min,
    gold_gap,
    killer,
    df_info_1["gameMode"]]).transpose()

df_invade.columns = [
    "is_invade",
    "invade_timestamp",
    "invade_kill_blue",
    "invade_kill_red",
    "invade_win_team",
    "total_gold_blue_3_min",
    "total_gold_red_3_min",
    "gold_gap",
    "killer_id",
    "gameMode"]

display(df_invade[(df_invade.is_invade==True) & (df_invade.invade_kill_blue > df_invade.invade_kill_red)])

# 인베가 일어났고, 블루가 레드보다 킬을 많이 딴 경기에서 블루가 이길 확률 
print("%.2f%%"%(
    len(df_invade[
        (df_invade.is_invade==True) 
        & (df_invade.invade_kill_blue > df_invade.invade_kill_red) 
        & (df_invade.invade_win_team == 100)]) 
    / len(df_invade[
        (df_invade.is_invade==True) 
        & (df_invade.invade_kill_blue > df_invade.invade_kill_red)])
    * 100)
)

,is_invade,invade_timestamp,invade_kill_blue,invade_kill_red,invade_win_team,total_gold_blue_3_min,total_gold_red_3_min,gold_gap,killer_id,gameMode
16,True,95344,3,0,100,5579,4008,1571,"[3, 3, 2]",CLASSIC
17,True,105263,2,1,100,5063,4624,439,"[10, 1, 1]",CLASSIC
21,True,93590,1,0,100,4798,4289,509,[1],CLASSIC
25,True,66227,2,0,100,5910,4207,1703,"[4, 2]",CLASSIC
35,True,103481,1,0,100,4908,4408,500,[2],CLASSIC
...,...,...,...,...,...,...,...,...,...,...
763,True,53253,1,0,100,5072,4598,474,[],CLASSIC
780,True,60967,3,0,100,6290,4139,2151,"[4, 5, 3]",CLASSIC
784,True,68454,1,0,200,4843,4312,531,[1],CLASSIC
788,True,57358,2,0,100,5395,5209,186,[2],CLASSIC
790,True,69245,1,0,100,4634,5270,-636,[5],CLASSIC

71.43%

In [ ]:
match_invade

184

In [27]:
df_invade.to_json("data/{}/invade.json".format(summoner_name))
df_invade_position.to_csv("data/{}/invade_position.csv".format(summoner_name), index=False)