In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [113]:
summoner_name = "쪼렙이다말로하자"

match = pd.read_json("data/data_summoner_match_data_{name}.json".format(name=summoner_name))
timeline = pd.read_json("data/data_summoner_match_timeline_data_{name}.json".format(name=summoner_name))

# 경기 관련 데이터

In [114]:
match_length = len(match["info"])
match_length

200

In [115]:
info = match["info"]

participants = []
teams = []
for i in range(match_length):
    participants.append(info[i]["participants"])
    teams.append(info[i]["teams"])
    del(info[i]["participants"])
    del(info[i]["teams"])

In [116]:
df_info = pd.json_normalize(info)
df_info_1 = df_info[["gameDuration", "gameMode", "gameType", "gameVersion", "mapId"]]
display(df_info_1.head(10))

   gameDuration gameMode      gameType     gameVersion  mapId
0       1371736  CLASSIC  MATCHED_GAME  11.19.398.9466     11
1       1542991  CLASSIC  MATCHED_GAME  11.19.398.9466     11
2       1468270  CLASSIC  MATCHED_GAME  11.19.398.9466     11
3       1963800  CLASSIC  MATCHED_GAME  11.19.398.9466     11
4       1634952  CLASSIC  MATCHED_GAME  11.19.398.9466     11
5       1932577  CLASSIC  MATCHED_GAME  11.19.398.9466     11
6       1478309  CLASSIC  MATCHED_GAME  11.19.398.9466     11
7       1207067  CLASSIC  MATCHED_GAME  11.19.398.2521     11
8        914139  CLASSIC  MATCHED_GAME  11.19.398.2521     11
9       1516101  CLASSIC  MATCHED_GAME  11.18.395.7538     11

In [117]:
df_participants = pd.json_normalize(participants)
display(df_participants.head(1))

,0,1,2,3,4,5,6,7,8,9
0,"{'assists': 3, 'baronKills': 0, 'bountyLevel':...","{'assists': 8, 'baronKills': 1, 'bountyLevel':...","{'assists': 8, 'baronKills': 0, 'bountyLevel':...","{'assists': 9, 'baronKills': 0, 'bountyLevel':...","{'assists': 9, 'baronKills': 0, 'bountyLevel':...","{'assists': 2, 'baronKills': 0, 'bountyLevel':...","{'assists': 4, 'baronKills': 0, 'bountyLevel':...","{'assists': 3, 'baronKills': 0, 'bountyLevel':...","{'assists': 2, 'baronKills': 0, 'bountyLevel':...","{'assists': 4, 'baronKills': 0, 'bountyLevel':..."

In [118]:
df_teams = pd.json_normalize(teams)
df_teams.columns = ["100", "200"]   # teamId
display(df_teams.head(5))

,100,200
0,"{'bans': [{'championId': -1, 'pickTurn': 1}, {...","{'bans': [{'championId': -1, 'pickTurn': 6}, {..."
1,"{'bans': [{'championId': 238, 'pickTurn': 1}, ...","{'bans': [{'championId': 126, 'pickTurn': 6}, ..."
2,"{'bans': [{'championId': 23, 'pickTurn': 1}, {...","{'bans': [{'championId': 39, 'pickTurn': 6}, {..."
3,"{'bans': [{'championId': 412, 'pickTurn': 1}, ...","{'bans': [{'championId': 412, 'pickTurn': 6}, ..."
4,"{'bans': [{'championId': 711, 'pickTurn': 1}, ...","{'bans': [{'championId': 64, 'pickTurn': 6}, {..."

In [119]:
df_info_1.to_csv("data/{}/info.csv".format(summoner_name))
df_participants.to_csv("data/{}/participants.csv".format(summoner_name))
df_teams.to_csv("data/{}/teams.csv".format(summoner_name))

# 인베이드 관련 데이터

In [120]:
match_invade = 0

## 이벤트 분석

In [121]:
is_invade = [False]*match_length
invade_timestamp = [0]*match_length           
invade_kill_blue = [0]*match_length           # invade시 발생한 블루팀의 킬 수
invade_kill_red = [0]*match_length            # invade시 발생한 레드팀의 킬 수
invade_win_team = [0]*match_length            # invade가 발생한 게임에서 이긴 팀의 teamId
total_gold_blue_3_min = [0]*match_length
total_gold_red_3_min = [0]*match_length
gold_gap = [0]*match_length

for match_index in range(match_length):
    match_time_length = len(timeline.iloc[match_index].info['frames'])
    
    events = [timeline.iloc[match_index].info["frames"][t]["events"] for t in range(match_time_length)]
    participants_info = [timeline.iloc[match_index].info["frames"][t]["participantFrames"] for t in range(match_time_length)]

    # 1~2분대의 kill event
    if len(events) < 3: 
        print("다시하기 발생!")
        continue    # 게임이 3분 이내로 끝났을 경우를 제외 
    for t in range(1,3):  # 1 ~ 2 분 사이
        for e in events[t]:    
            if e["type"] == "CHAMPION_KILL":
                if is_invade[match_index] == False: 
                    is_invade[match_index] = True
                    match_invade += 1
                if invade_timestamp[match_index] == 0: invade_timestamp[match_index] = e['timestamp']
                if e['killerId'] <= 5:
                    invade_kill_blue[match_index] += 1
                elif e['killerId'] > 5:
                    invade_kill_red[match_index] += 1

    if is_invade[match_index]:
        for i in range(1,6):
            total_gold_blue_3_min[match_index] += participants_info[3][str(i)]['totalGold']
        for i in range(6,11):
            total_gold_red_3_min[match_index] += participants_info[3][str(i)]['totalGold']
        gold_gap[match_index] = total_gold_blue_3_min[match_index] - total_gold_red_3_min[match_index]
        
        # use df_teams
        invade_win_team[match_index] = 100 if df_teams["100"][match_index]["win"] else 200
        
        print("--------------------------------------------------")
        print("invade detected: %d" % match_index)
        print("timestamp(minutes): %.2f" % (invade_timestamp[match_index]/60000))
        print("< kills >\n  blue : %d , red : %d"% (invade_kill_blue[match_index], invade_kill_red[match_index]))
        print("< total_gold_3_min >\n  blue: %d , red: %d"% (total_gold_blue_3_min[match_index], total_gold_red_3_min[match_index]))
        print("< gold_gap >\n  %d"% gold_gap[match_index])
        print("< win >\n  %s"% ("blue" if invade_win_team[match_index] == 100 else "red"))

--------------------------------------------------
invade detected: 3
timestamp(minutes): 1.87
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4419 , red: 5324
< gold_gap >
  -905
< win >
  blue
--------------------------------------------------
invade detected: 8
timestamp(minutes): 1.59
< kills >
  blue : 3 , red : 0
< total_gold_3_min >
  blue: 5579 , red: 4008
< gold_gap >
  1571
< win >
  blue
--------------------------------------------------
invade detected: 9
timestamp(minutes): 1.75
< kills >
  blue : 2 , red : 1
< total_gold_3_min >
  blue: 5063 , red: 4624
< gold_gap >
  439
< win >
  blue
--------------------------------------------------
invade detected: 13
timestamp(minutes): 1.56
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4798 , red: 4289
< gold_gap >
  509
< win >
  blue
--------------------------------------------------
invade detected: 17
timestamp(minutes): 1.10
< kills >
  blue : 2 , red : 0
< total_gold_3_min >
  blue: 5910 , red: 4207
< gold_gap >
  1703
< win >
  blue
--------------------------------------------------
invade detected: 19
timestamp(minutes): 1.48
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 3825 , red: 5445
< gold_gap >
  -1620
< win >
  red
--------------------------------------------------
invade detected: 22
timestamp(minutes): 0.77
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4948 , red: 4503
< gold_gap >
  445
< win >
  red
--------------------------------------------------
invade detected: 23
timestamp(minutes): 1.04
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 5053 , red: 5465
< gold_gap >
  -412
< win >
  red
--------------------------------------------------
invade detected: 26
timestamp(minutes): 1.15
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 4723 , red: 5108
< gold_gap >
  -385
< win >
  red
--------------------------------------------------
invade detected: 27
timestamp(minutes): 1.72
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4908 , red: 4408
< gold_gap >
  500
< win >
  blue
--------------------------------------------------
invade detected: 30
timestamp(minutes): 1.60
< kills >
  blue : 1 , red : 1
< total_gold_3_min >
  blue: 5081 , red: 4535
< gold_gap >
  546
< win >
  blue
--------------------------------------------------
invade detected: 36
timestamp(minutes): 1.02
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4858 , red: 4474
< gold_gap >
  384
< win >
  red
--------------------------------------------------
invade detected: 43
timestamp(minutes): 1.65
< kills >
  blue : 2 , red : 0
< total_gold_3_min >
  blue: 5600 , red: 4562
< gold_gap >
  1038
< win >
  blue
--------------------------------------------------
invade detected: 44
timestamp(minutes): 1.69
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 5365 , red: 3741
< gold_gap >
  1624
< win >
  blue
--------------------------------------------------
invade detected: 47
timestamp(minutes): 1.87
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4496 , red: 3976
< gold_gap >
  520
< win >
  blue
--------------------------------------------------
invade detected: 48
timestamp(minutes): 0.91
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 5442 , red: 4641
< gold_gap >
  801
< win >
  blue
--------------------------------------------------
invade detected: 52
timestamp(minutes): 1.90
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4769 , red: 5305
< gold_gap >
  -536
< win >
  red
--------------------------------------------------
invade detected: 55
timestamp(minutes): 1.11
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4551 , red: 5887
< gold_gap >
  -1336
< win >
  red
--------------------------------------------------
invade detected: 58
timestamp(minutes): 0.82
< kills >
  blue : 3 , red : 0
< total_gold_3_min >
  blue: 5376 , red: 4169
< gold_gap >
  1207
< win >
  red
--------------------------------------------------
invade detected: 60
timestamp(minutes): 0.97
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4473 , red: 6462
< gold_gap >
  -1989
< win >
  red
--------------------------------------------------
invade detected: 61
timestamp(minutes): 0.86
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 4454 , red: 5031
< gold_gap >
  -577
< win >
  red
--------------------------------------------------
invade detected: 68
timestamp(minutes): 1.15
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4552 , red: 4542
< gold_gap >
  10
< win >
  blue
--------------------------------------------------
invade detected: 69
timestamp(minutes): 1.91
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4431 , red: 4941
< gold_gap >
  -510
< win >
  blue
--------------------------------------------------
invade detected: 72
timestamp(minutes): 1.37
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4254 , red: 5047
< gold_gap >
  -793
< win >
  blue
--------------------------------------------------
invade detected: 85
timestamp(minutes): 1.90
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 5004 , red: 4264
< gold_gap >
  740
< win >
  blue
--------------------------------------------------
invade detected: 88
timestamp(minutes): 1.25
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 4360 , red: 5353
< gold_gap >
  -993
< win >
  red
--------------------------------------------------
invade detected: 91
timestamp(minutes): 0.66
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4740 , red: 3857
< gold_gap >
  883
< win >
  blue
--------------------------------------------------
invade detected: 97
timestamp(minutes): 1.98
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4020 , red: 4630
< gold_gap >
  -610
< win >
  blue
--------------------------------------------------
invade detected: 101
timestamp(minutes): 0.78
< kills >
  blue : 1 , red : 1
< total_gold_3_min >
  blue: 4777 , red: 4978
< gold_gap >
  -201
< win >
  red
--------------------------------------------------
invade detected: 105
timestamp(minutes): 0.88
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4181 , red: 5352
< gold_gap >
  -1171
< win >
  red
--------------------------------------------------
invade detected: 107
timestamp(minutes): 0.86
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 5340 , red: 4609
< gold_gap >
  731
< win >
  red
--------------------------------------------------
invade detected: 111
timestamp(minutes): 0.87
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4485 , red: 4789
< gold_gap >
  -304
< win >
  red
--------------------------------------------------
invade detected: 121
timestamp(minutes): 0.66
< kills >
  blue : 1 , red : 2
< total_gold_3_min >
  blue: 4701 , red: 5786
< gold_gap >
  -1085
< win >
  red
--------------------------------------------------
invade detected: 122
timestamp(minutes): 0.73
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 4318 , red: 6143
< gold_gap >
  -1825
< win >
  blue
--------------------------------------------------
invade detected: 125
timestamp(minutes): 1.68
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 5360 , red: 4129
< gold_gap >
  1231
< win >
  blue
--------------------------------------------------
invade detected: 126
timestamp(minutes): 1.44
< kills >
  blue : 1 , red : 1
< total_gold_3_min >
  blue: 4724 , red: 4723
< gold_gap >
  1
< win >
  blue
--------------------------------------------------
invade detected: 136
timestamp(minutes): 1.39
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4465 , red: 5414
< gold_gap >
  -949
< win >
  red
--------------------------------------------------
invade detected: 142
timestamp(minutes): 0.85
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4974 , red: 4524
< gold_gap >
  450
< win >
  blue
--------------------------------------------------
invade detected: 145
timestamp(minutes): 1.21
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4032 , red: 5298
< gold_gap >
  -1266
< win >
  red
--------------------------------------------------
invade detected: 148
timestamp(minutes): 0.68
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4294 , red: 5117
< gold_gap >
  -823
< win >
  red
--------------------------------------------------
invade detected: 175
timestamp(minutes): 1.88
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4712 , red: 5022
< gold_gap >
  -310
< win >
  blue
--------------------------------------------------
invade detected: 176
timestamp(minutes): 0.84
< kills >
  blue : 1 , red : 2
< total_gold_3_min >
  blue: 4011 , red: 6152
< gold_gap >
  -2141
< win >
  red
--------------------------------------------------
invade detected: 183
timestamp(minutes): 0.64
< kills >
  blue : 1 , red : 0
< total_gold_3_min >
  blue: 4812 , red: 4115
< gold_gap >
  697
< win >
  blue
--------------------------------------------------
invade detected: 184
timestamp(minutes): 1.86
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4726 , red: 5136
< gold_gap >
  -410
< win >
  red
--------------------------------------------------
invade detected: 192
timestamp(minutes): 1.80
< kills >
  blue : 0 , red : 2
< total_gold_3_min >
  blue: 3920 , red: 5602
< gold_gap >
  -1682
< win >
  red
--------------------------------------------------
invade detected: 194
timestamp(minutes): 0.96
< kills >
  blue : 0 , red : 1
< total_gold_3_min >
  blue: 4532 , red: 5110
< gold_gap >
  -578
< win >
  red

In [122]:
df_invade = pd.DataFrame([
    is_invade,
    invade_timestamp,
    invade_kill_blue,
    invade_kill_red,
    invade_win_team,
    total_gold_blue_3_min,
    total_gold_red_3_min,
    gold_gap,
    df_info_1["gameMode"]]).transpose()

df_invade.columns = [
    "is_invade",
    "invade_timestamp",
    "invade_kill_blue",
    "invade_kill_red",
    "invade_win_team",
    "total_gold_blue_3_min",
    "total_gold_red_3_min",
    "gold_gap",
    "gameMode"]

display(df_invade[(df_invade.is_invade==True) & (df_invade.invade_kill_blue > df_invade.invade_kill_red)])

# 인베가 일어났고, 블루가 레드보다 킬을 많이 딴 경기에서 블루가 이길 확률 
print("%.2f%%"%(
    len(df_invade[
        (df_invade.is_invade==True) 
        & (df_invade.invade_kill_blue > df_invade.invade_kill_red) 
        & (df_invade.invade_win_team == 100)]) 
    / len(df_invade[
        (df_invade.is_invade==True) 
        & (df_invade.invade_kill_blue > df_invade.invade_kill_red)])
    * 100)
)

,is_invade,invade_timestamp,invade_kill_blue,invade_kill_red,invade_win_team,total_gold_blue_3_min,total_gold_red_3_min,gold_gap,gameMode
8,True,95344,3,0,100,5579,4008,1571,CLASSIC
9,True,105263,2,1,100,5063,4624,439,CLASSIC
13,True,93590,1,0,100,4798,4289,509,CLASSIC
17,True,66227,2,0,100,5910,4207,1703,CLASSIC
27,True,103481,1,0,100,4908,4408,500,CLASSIC
36,True,61481,1,0,200,4858,4474,384,CLASSIC
43,True,98819,2,0,100,5600,4562,1038,CLASSIC
44,True,101375,1,0,100,5365,3741,1624,CLASSIC
47,True,112460,1,0,100,4496,3976,520,CLASSIC
48,True,54482,1,0,100,5442,4641,801,CLASSIC
55,True,66861,1,0,200,4551,5887,-1336,CLASSIC
58,True,49414,3,0,200,5376,4169,1207,CLASSIC
85,True,113900,1,0,100,5004,4264,740,CLASSIC
91,True,39432,1,0,100,4740,3857,883,CLASSIC
107,True,51829,1,0,200,5340,4609,731,CLASSIC
125,True,100800,1,0,100,5360,4129,1231,CLASSIC
142,True,50990,1,0,100,4974,4524,450,CLASSIC
183,True,38312,1,0,100,4812,4115,697,CLASSIC

77.78%

In [123]:
match_invade

46

In [124]:
df_invade.to_csv("data/{}/invade.csv".format(summoner_name))