In [61]:
import pandas as pd
import numpy as np

In [89]:
invade = pd.read_csv("data/쪼렙이다말로하자/invade.csv")
invade

,is_invade,invade_timestamp,invade_kill_blue,invade_kill_red,invade_win_team,total_gold_blue_3_min,total_gold_red_3_min,gold_gap,gameMode
0,False,0,0,0,0,0,0,0,CLASSIC
1,False,0,0,0,0,0,0,0,CLASSIC
2,False,0,0,0,0,0,0,0,CLASSIC
3,True,112193,0,1,100,4419,5324,-905,CLASSIC
4,False,0,0,0,0,0,0,0,CLASSIC
...,...,...,...,...,...,...,...,...,...
195,False,0,0,0,0,0,0,0,CLASSIC
196,False,0,0,0,0,0,0,0,CLASSIC
197,False,0,0,0,0,0,0,0,CLASSIC
198,False,0,0,0,0,0,0,0,CLASSIC
199,False,0,0,0,0,0,0,0,CLASSIC

In [90]:
participants = pd.read_json("data/쪼렙이다말로하자/participants.json")
participants.head()

,0,1,2,3,4,5,6,7,8,9
0,"{'assists': 3, 'baronKills': 0, 'bountyLevel':...","{'assists': 8, 'baronKills': 1, 'bountyLevel':...","{'assists': 8, 'baronKills': 0, 'bountyLevel':...","{'assists': 9, 'baronKills': 0, 'bountyLevel':...","{'assists': 9, 'baronKills': 0, 'bountyLevel':...","{'assists': 2, 'baronKills': 0, 'bountyLevel':...","{'assists': 4, 'baronKills': 0, 'bountyLevel':...","{'assists': 3, 'baronKills': 0, 'bountyLevel':...","{'assists': 2, 'baronKills': 0, 'bountyLevel':...","{'assists': 4, 'baronKills': 0, 'bountyLevel':..."
1,"{'assists': 7, 'baronKills': 0, 'bountyLevel':...","{'assists': 5, 'baronKills': 1, 'bountyLevel':...","{'assists': 9, 'baronKills': 0, 'bountyLevel':...","{'assists': 7, 'baronKills': 0, 'bountyLevel':...","{'assists': 11, 'baronKills': 0, 'bountyLevel'...","{'assists': 0, 'baronKills': 0, 'bountyLevel':...","{'assists': 4, 'baronKills': 0, 'bountyLevel':...","{'assists': 6, 'baronKills': 0, 'bountyLevel':...","{'assists': 4, 'baronKills': 0, 'bountyLevel':...","{'assists': 6, 'baronKills': 0, 'bountyLevel':..."
2,"{'assists': 4, 'baronKills': 0, 'bountyLevel':...","{'assists': 6, 'baronKills': 0, 'bountyLevel':...","{'assists': 6, 'baronKills': 0, 'bountyLevel':...","{'assists': 3, 'baronKills': 0, 'bountyLevel':...","{'assists': 6, 'baronKills': 0, 'bountyLevel':...","{'assists': 5, 'baronKills': 0, 'bountyLevel':...","{'assists': 9, 'baronKills': 1, 'bountyLevel':...","{'assists': 13, 'baronKills': 0, 'bountyLevel'...","{'assists': 10, 'baronKills': 0, 'bountyLevel'...","{'assists': 14, 'baronKills': 0, 'bountyLevel'..."
3,"{'assists': 7, 'baronKills': 0, 'bountyLevel':...","{'assists': 15, 'baronKills': 1, 'bountyLevel'...","{'assists': 7, 'baronKills': 1, 'bountyLevel':...","{'assists': 7, 'baronKills': 0, 'bountyLevel':...","{'assists': 22, 'baronKills': 0, 'bountyLevel'...","{'assists': 3, 'baronKills': 0, 'bountyLevel':...","{'assists': 8, 'baronKills': 0, 'bountyLevel':...","{'assists': 9, 'baronKills': 0, 'bountyLevel':...","{'assists': 8, 'baronKills': 0, 'bountyLevel':...","{'assists': 17, 'baronKills': 0, 'bountyLevel'..."
4,"{'assists': 7, 'baronKills': 0, 'bountyLevel':...","{'assists': 22, 'baronKills': 1, 'bountyLevel'...","{'assists': 15, 'baronKills': 0, 'bountyLevel'...","{'assists': 20, 'baronKills': 0, 'bountyLevel'...","{'assists': 4, 'baronKills': 0, 'bountyLevel':...","{'assists': 5, 'baronKills': 0, 'bountyLevel':...","{'assists': 8, 'baronKills': 0, 'bountyLevel':...","{'assists': 3, 'baronKills': 0, 'bountyLevel':...","{'assists': 2, 'baronKills': 0, 'bountyLevel':...","{'assists': 3, 'baronKills': 0, 'bountyLevel':..."

In [105]:
teams = pd.read_json("data/쪼렙이다말로하자/teams.json")
teams.head()

,100,200,win
0,"{'bans': [{'championId': -1, 'pickTurn': 1}, {...","{'bans': [{'championId': -1, 'pickTurn': 6}, {...",100
1,"{'bans': [{'championId': 238, 'pickTurn': 1}, ...","{'bans': [{'championId': 126, 'pickTurn': 6}, ...",100
2,"{'bans': [{'championId': 23, 'pickTurn': 1}, {...","{'bans': [{'championId': 39, 'pickTurn': 6}, {...",200
3,"{'bans': [{'championId': 412, 'pickTurn': 1}, ...","{'bans': [{'championId': 412, 'pickTurn': 6}, ...",100
4,"{'bans': [{'championId': 711, 'pickTurn': 1}, ...","{'bans': [{'championId': 64, 'pickTurn': 6}, {...",100

In [92]:
info = pd.read_csv("data/쪼렙이다말로하자/info.csv")
info.head()

   gameDuration gameMode      gameType     gameVersion  mapId  index  team
0       1371736  CLASSIC  MATCHED_GAME  11.19.398.9466     11      2   100
1       1542991  CLASSIC  MATCHED_GAME  11.19.398.9466     11      9   200
2       1468270  CLASSIC  MATCHED_GAME  11.19.398.9466     11      7   200
3       1963800  CLASSIC  MATCHED_GAME  11.19.398.9466     11      9   200
4       1634952  CLASSIC  MATCHED_GAME  11.19.398.9466     11      2   100

In [117]:
# 표본의 인베 횟수
n_invade = sum(invade.is_invade==True)
n_invade, n_invade / len(info)

(46, 0.23)

In [118]:
# 표본의 승률 P(Y=1)
n_win = sum(info.team == teams.win)
n_win, n_win / len(info)

(114, 0.57)

In [122]:
# 인베를 갔을 때 승리할 확률 P(Y=1|X=1)
n_match = len(info)
n_win = 0
for i in invade[invade.is_invade].index:
    if invade.iloc[i]["invade_win_team"] == info.team[i]:
        n_win += 1
print(n_win, n_win / n_invade)

# 인베를 가지 않았을 때 승리할 확률 P(Y=1|X=0)
n_win = 0
for i in invade[invade.is_invade == False].index:
    if teams.win[i] == info.team[i]:    # invade를 가지 않았을 때 팀의 정보를 모름 in invade dataframe
        n_win += 1
print(n_win, n_win / (n_match - n_invade))

# 인베를 갔을 떄 이득을 볼 확률, to be continue

# 인베를 갔을 때 이득을 볼 경우 승리할 확률

26 0.5652173913043478
88 0.5714285714285714